<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" formControlName="email" required>
        <mat-error *ngIf="loginForm.get('email')?.invalid">Correo no válido</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="loginForm.get('password')?.invalid">Contraseña requerida</mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
    </form>
  </div>
  